body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    height: 98vh;
}

.keys {
    text-align: center;
    width: 23em;
    height: 4em;
    margin: auto;
    position: fixed;
    bottom: 12em;
    right: 1em;
}

.arr {
    cursor: pointer;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 100px;
    background: grey;
    color: white;
    font-size: 50px;
    border-style: outset;
    border-radius: 0.2em;
    border-right: 0.2em solid darken(grey, 20);
    border-bottom: 0.2em solid darken(grey, 20);
    border-left: 0.2em solid darken(grey, 15);
    border-top: 0.2em solid darken(grey, 10);
    display: inline-block;
    margin: 5px;
    transition: all .05s linear;
}

.arr:active {
    border-bottom: 8px solid darken(grey, 20);
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
    transform: translate(0, 2px);
}

.up {
    position: relative;
    top: -4px;
}

.pressed {
    border-bottom: 8px solid darken(grey, 20);
    text-shadow: 0 0 10px white;
    transform: translate(0, 2px);
}

#character{
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.blocage{
    position: absolute;
    object-fit:cover;
    /* background-image: url("../img/blocage.png");
    background-repeat: repeat; */
}

.bloc1{
    top:100px;
    left:300px;    
    height: 32px;
    width: 32px;
}

.bloc2{    
    top:200px;
    left:600px;
    height: 224px;
    width: 32px;
}

.bloc3{    
    top:200px;
    left:376px;
    height: 224px;
    width: 32px;
}

.bloc4{    
    top:200px;
    left:408px;
    height: 32px;
    width: 160px;
}

.bloc5{    
    top:264px;
    left:440px;
    height: 32px;
    width: 160px;
}

.bloc6{    
    top:392px;
    left:408px;
    height: 32px;
    width: 160px;
}

.bloc7{    
    top:296px;
    left:440px;
    height: 64px;
    width: 32px;
}

.bloc8{    
    top:328px;
    left:536px;
    height: 64px;
    width: 32px;
}

.bloc9{    
    top:328px;
    left:472px;
    height: 32px;
    width: 32px;
}