body{
    background-color: aquamarine;
    font-size:larger;
}

#Tableau{
    background-color: limegreen;
    border: 5px solid white;
}

table tr td{
    text-align: center;
}

#resultat{
    border-top: 1px solid black;
}

.Totaux{
    pointer-events: none;
}

input[type=number] {
  appearance: textfield;
}