h1{    
    text-decoration: underline overline;
    display: inline-block;
}

h2{
    text-decoration: underline;
    display: inline-block;
}

h3{
    text-decoration: underline dotted;
    display: inline-block;
}

.title1{
    text-align: center;
}

.title3{    
    text-indent: 100px;
}

p{
    text-indent: 50px;
    color: black;
}

.para2{
    color: blue;
}

.titleA{
    color: black;
}

.titleB{
    color: red;
}

.titleC{
    color: green;
}