html,
body,
form,
div,
label,
input {
    display: flex;
    flex: 1;
    justify-content: center;
}

label {
    flex: 2;
    align-items: center;
    text-align: center;
}

body {
    flex: 0.8;
    margin: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(30, 30, 30);
    font-size: 1.2em;
}

h1 {
    font-weight: normal;
    background-color: rgb(60, 60, 60);
    padding: 1.5vh 2vw;
    border-radius: 2vw;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

form {
    flex-direction: column;
    background-color: rgb(60, 60, 60);
    padding: 4vh 3vw;
    /* border-radius: 2vh; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    width: 80vw;
}

form input,
form select {
    background-color: rgb(80, 80, 80);
    padding: 0.5vh 0.5vw;
    border: unset;
    border-left: 4px solid white;
    color: white;
    font-size: 1.2em;
    transition: transform 0.3s, box-shadow 0.3s;
    outline: none;
    margin: 0vh 1vw;
    flex: 2;
    max-height: 2em;
}

/* form input:focus {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
} */

form input[type="submit"] {
    margin-top: 3vh;
    padding: 1vh 2vw;
    color: #666666;
    border-bottom: 4px solid #666666;
    border-left: 4px solid #666666;
    width: 100%;
    align-self: center;
}

input[required]+h3::before {
    content: "*";
    color: red;
}

.ligne {
    padding-bottom: 0.8em;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    appearance: textfield;
}

fieldset {
    width: 100%;
    display: flex
}

.message {
    border-radius: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    padding: 0.5vh;
    opacity: 0;
    font-size: 0.6em;
    transition: opacity 0.3s;
    position: relative;
    width: 20em;
}

.message.visible {
    opacity: 1;
    transition: opacity 0.3s;
}

.gaucheVert {
    border-left-color: rgb(50, 200, 50);
}

.gaucheRouge {
    border-left-color: rgb(200, 50, 50);
}

/**************************************/
/**************************************/
/**************************************/
/**************************************/
/**************************************/

.cancel {
    margin-top: 3vh;
    padding: 1vh 2vw;
    border-bottom: 4px solid lightcoral;
    border-left: 4px solid lightcoral;
    width: 100%;
    align-self: center;
}

.valid {
    margin-top: 3vh;
    padding: 1vh 2vw;
    border-bottom: 4px solid lightgreen;
    border-left: 4px solid lightgreen;
    width: 100%;
    align-self: center;
}

.flexMini {
    flex: 0.2;
}

.centered {
    text-align: center;
    display: flex;
    justify-content: center;
}

form label {
    justify-content: flex-end;
}

.buttonDash {
    display: flex;
    font: bold 1em Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: auto 1em;
    border-radius: 2em;
    border-top: 0.3em solid #CCCCCC;
    border-right: 0.3em solid #333333;
    border-bottom: 0.3em solid #333333;
    border-left: 0.3em solid #CCCCCC;
    flex:1;
    min-height: 3em;
    align-items: center;
    justify-content: center;
  }
  .buttonDash:hover{
    color:darkgreen;
    transform: translate(0.1em, 0.1em);    
    border-right: 0.3em solid darkgreen;
    border-bottom: 0.3em solid darkgreen;
  }
.Retour:hover{    
    color:red;
    transform: translate(0.1em, 0.1em);    
    border-right: 0.3em solid red;
    border-bottom: 0.3em solid red;
}

.flex5{
    flex:5;
}
  
.listing{
    border: 0.1em solid black;
    border-collapse: collapse;
    color: black;
    padding:1em 0em 1em 0em;
    background-color: azure;
}

.listing:nth-child(even){    
    background-color: lightblue;
}

.listeHead{
    background-color: blanchedalmond;
    border: 0.1em solid gray;
    padding:1em 0em 1em 0em;
    color: black;
}
.colHalf{
    flex:0.25;
}

.clearPadding{
    padding: 0em;
}

.container{
    display: grid;
    background-color: azure;
    color: black;
    align-items: stretch;
    border-radius: 2em;
}
.liste5attribut{
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;
    border-radius: 0em;
}
.liste3attribut{
    grid-template-columns: 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;
    border-radius: 0em;
}

.liste1attribut{
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    border-radius: 0em;
}

.formContain{    
    border-radius: 2em;
    display:grid;
    color: white;
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 2fr 0.5fr 0.5fr;
}

.container div.liste{
    padding: 1em 0em;
    border: 0.1em solid gray;
}

.noDisplay{
    display: none;
}

.ligneSepar{
    min-height: 1em;
    grid-column:1 / span 7;
}

.alterLigne{
    background-color: lightblue;
}
.tableauDebug{
    border: 0.1em solid black;
    border-collapse: collapse;
    color: black;
}
.tableauDebug th{
    background-color: blanchedalmond;
    border: 0.1em solid gray;
    padding:1em 2em 1em 2em;
}
.tableauDebug tbody tr{
    background-color: azure;
}
.tableauDebug tbody tr:nth-child(even){
    background-color: lightblue;
}

.tableauDebug td{
    border: 0.1em solid gray;
    padding:1em 2em 1em 2em;
}

/*
body{
    background-color: lightgray;
}

h1{
    text-align: center;
}



.extContainer{
    grid-template-columns:1em auto 1em;
}
.intContainer{
    display:grid;
    grid-template-columns:1em auto 1em auto 1em;
    grid-template-rows: auto;
    grid-template-areas: "side Label Middle Input side";
    justify-content: center;
    align-content: space-around; 
    grid-auto-rows:auto;
    flex:1;
    border: 0.1em dotted red;
}

.borderedZone{
    border: 0.2em solid black;
    border-radius: 20px;
    padding: 1em;
}
.Flex{
    display: flex;
    flex-wrap: wrap;
}
.Flex div{
    flex-grow: 1;
} 
.RLabel{
    text-align: right;
    grid-area: Label;
}
.LInput{
    text-align: left;
    break-after: always;
    grid-area: Input;
}
.Separation{
   grid-area: Middle;
}*/